<!-- //JUMBOTRON -->
<article class="jumbotron">
    <figure class="jumbotronFigure">
        <img src="images/jumbotron.jpg" alt="" />
    </figure>
    <div class="jumbotronContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <header class="jumbotronHeader">
                        <small class="jumbotronCategory">
                            ANNOUNCE OF THE DAY
                        </small>
                        <h1 class="jumbotronTitle">
                            DECEMBER 2017
                        </h1>
                    </header>
                    <div class="jumbotronBody">
                        <p>
                            Every day, we feature an announce chosen from thousands.
                        </p>
                        <p>
                            Here are ten favorites from December.
                        </p>
                    </div>
                    <footer class="jumbotronFooter">
                        <a class="btn btn-primary" href="http://localhost:3000/apiv1/user/login" role="button">
                            SINGUP
                        </a>
                        <a class="btn btn-primary" href="http://localhost:3000/apiv1/user/register" role="button">
                            REGISTER
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</article>
<!-- JUMBOTRON// -->