<!-- Type-2 -->
<div class="container">
    <h2 class="titles"><span class="pull-right">Más...</span> Tus anuncios aquí !</h2>
    <div class="row">
        <ul class="scroll-box">
        <li>
            <a href="">
            <h3>Title Name</h3>
            <h1>$ 10</h1>
            <h4>0 out of 975</h4>
            <h5>Description Description Description Description Description </h5>
            </a>
        </li>
        <li>
            <a href="">
            <h3>Title Name</h3>
            <h1>$ 10</h1>
            <h4>0 out of 975</h4>
            <h5>Description Description Description Description Description </h5>
            </a>
        </li>
        <li>
            <a href="">
            <h3>Title Name</h3>
            <h1>$ 10</h1>
            <h4>0 out of 975</h4>
            <h5>Description Description Description Description Description </h5>
            </a>
        </li>
        <li>
            <a href="">
            <h3>Title Name</h3>
            <h1>$ 10</h1>
            <h4>0 out of 975</h4>
            <h5>Description Description Description Description Description </h5>
            </a>
        </li>
        <li>
            <a href="">
            <h3>Title Name</h3>
            <h1>$ 10</h1>
            <h4>0 out of 975</h4>
            <h5>Description Description Description Description Description </h5>
            </a>
        </li>
        </ul>
    </div>
</div>